/Assemblies/Unity.TextMeshPro.dll
/Assemblies/UnityEngine.AccessibilityModule.dll
/Assemblies/UnityEngine.AccessibilityModule.dll.mdb
/Assemblies/UnityEngine.AIModule.dll
/Assemblies/UnityEngine.AIModule.dll.mdb
/Assemblies/UnityEngine.AndroidJNIModule.dll
/Assemblies/UnityEngine.AndroidJNIModule.dll.mdb
/Assemblies/UnityEngine.AnimationModule.dll
/Assemblies/UnityEngine.AnimationModule.dll.mdb
/Assemblies/UnityEngine.ARModule.dll
/Assemblies/UnityEngine.ARModule.dll.mdb
/Assemblies/UnityEngine.AssetBundleModule.dll
/Assemblies/UnityEngine.AssetBundleModule.dll.mdb
/Assemblies/UnityEngine.AudioModule.dll
/Assemblies/UnityEngine.AudioModule.dll.mdb
/Assemblies/UnityEngine.ClothModule.dll
/Assemblies/UnityEngine.ClothModule.dll.mdb
/Assemblies/UnityEngine.ClusterInputModule.dll
/Assemblies/UnityEngine.ClusterInputModule.dll.mdb
/Assemblies/UnityEngine.ClusterRendererModule.dll
/Assemblies/UnityEngine.ClusterRendererModule.dll.mdb
/Assemblies/UnityEngine.CrashReportingModule.dll
/Assemblies/UnityEngine.CrashReportingModule.dll.mdb
/Assemblies/UnityEngine.DirectorModule.dll
/Assemblies/UnityEngine.DirectorModule.dll.mdb
/Assemblies/UnityEngine.dll
/Assemblies/UnityEngine.dll.mdb
/Assemblies/UnityEngine.DSPGraphModule.dll
/Assemblies/UnityEngine.DSPGraphModule.dll.mdb
/Assemblies/UnityEngine.FileSystemHttpModule.dll
/Assemblies/UnityEngine.FileSystemHttpModule.dll.mdb
/Assemblies/UnityEngine.GameCenterModule.dll
/Assemblies/UnityEngine.GameCenterModule.dll.mdb
/Assemblies/UnityEngine.GridModule.dll
/Assemblies/UnityEngine.GridModule.dll.mdb
/Assemblies/UnityEngine.HotReloadModule.dll
/Assemblies/UnityEngine.HotReloadModule.dll.mdb
/Assemblies/UnityEngine.ImageConversionModule.dll
/Assemblies/UnityEngine.ImageConversionModule.dll.mdb
/Assemblies/UnityEngine.InputLegacyModule.dll
/Assemblies/UnityEngine.InputLegacyModule.dll.mdb
/Assemblies/UnityEngine.InputModule.dll
/Assemblies/UnityEngine.InputModule.dll.mdb
/Assemblies/UnityEngine.JSONSerializeModule.dll
/Assemblies/UnityEngine.JSONSerializeModule.dll.mdb
/Assemblies/UnityEngine.LocalizationModule.dll
/Assemblies/UnityEngine.LocalizationModule.dll.mdb
/Assemblies/UnityEngine.ParticleSystemModule.dll
/Assemblies/UnityEngine.ParticleSystemModule.dll.mdb
/Assemblies/UnityEngine.PerformanceReportingModule.dll
/Assemblies/UnityEngine.PerformanceReportingModule.dll.mdb
/Assemblies/UnityEngine.Physics2DModule.dll
/Assemblies/UnityEngine.Physics2DModule.dll.mdb
/Assemblies/UnityEngine.PhysicsModule.dll
/Assemblies/UnityEngine.PhysicsModule.dll.mdb
/Assemblies/UnityEngine.ProfilerModule.dll
/Assemblies/UnityEngine.ProfilerModule.dll.mdb
/Assemblies/UnityEngine.ScreenCaptureModule.dll
/Assemblies/UnityEngine.ScreenCaptureModule.dll.mdb
/Assemblies/UnityEngine.SharedInternalsModule.dll
/Assemblies/UnityEngine.SharedInternalsModule.dll.mdb
/Assemblies/UnityEngine.SpriteMaskModule.dll
/Assemblies/UnityEngine.SpriteMaskModule.dll.mdb
/Assemblies/UnityEngine.SpriteShapeModule.dll
/Assemblies/UnityEngine.SpriteShapeModule.dll.mdb
/Assemblies/UnityEngine.StreamingModule.dll
/Assemblies/UnityEngine.StreamingModule.dll.mdb
/Assemblies/UnityEngine.SubstanceModule.dll
/Assemblies/UnityEngine.SubstanceModule.dll.mdb
/Assemblies/UnityEngine.TerrainModule.dll
/Assemblies/UnityEngine.TerrainModule.dll.mdb
/Assemblies/UnityEngine.TerrainPhysicsModule.dll
/Assemblies/UnityEngine.TerrainPhysicsModule.dll.mdb
/Assemblies/UnityEngine.TilemapModule.dll
/Assemblies/UnityEngine.TilemapModule.dll.mdb
/Assemblies/UnityEngine.TLSModule.dll
/Assemblies/UnityEngine.TLSModule.dll.mdb
/Assemblies/UnityEngine.UIModule.dll
/Assemblies/UnityEngine.UIModule.dll.mdb
/Assemblies/UnityEngine.UmbraModule.dll
/Assemblies/UnityEngine.UmbraModule.dll.mdb
/Assemblies/UnityEngine.UNETModule.dll
/Assemblies/UnityEngine.UNETModule.dll.mdb
/Assemblies/UnityEngine.UnityAnalyticsModule.dll
/Assemblies/UnityEngine.UnityAnalyticsModule.dll.mdb
/Assemblies/UnityEngine.UnityConnectModule.dll
/Assemblies/UnityEngine.UnityConnectModule.dll.mdb
/Assemblies/UnityEngine.UnityTestProtocolModule.dll
/Assemblies/UnityEngine.UnityTestProtocolModule.dll.mdb
/Assemblies/UnityEngine.UnityWebRequestAssetBundleModule.dll
/Assemblies/UnityEngine.UnityWebRequestAssetBundleModule.dll.mdb
/Assemblies/UnityEngine.UnityWebRequestAudioModule.dll
/Assemblies/UnityEngine.UnityWebRequestAudioModule.dll.mdb
/Assemblies/UnityEngine.UnityWebRequestModule.dll
/Assemblies/UnityEngine.UnityWebRequestModule.dll.mdb
/Assemblies/UnityEngine.UnityWebRequestTextureModule.dll
/Assemblies/UnityEngine.UnityWebRequestTextureModule.dll.mdb
/Assemblies/UnityEngine.UnityWebRequestWWWModule.dll
/Assemblies/UnityEngine.UnityWebRequestWWWModule.dll.mdb
/Assemblies/UnityEngine.VehiclesModule.dll
/Assemblies/UnityEngine.VehiclesModule.dll.mdb
/Assemblies/UnityEngine.VFXModule.dll
/Assemblies/UnityEngine.VFXModule.dll.mdb
/Assemblies/UnityEngine.VideoModule.dll
/Assemblies/UnityEngine.VideoModule.dll.mdb
/Assemblies/UnityEngine.VRModule.dll
/Assemblies/UnityEngine.VRModule.dll.mdb
/Assemblies/UnityEngine.WindModule.dll
/Assemblies/UnityEngine.WindModule.dll.mdb
/Assemblies/UnityEngine.XRModule.dll
/Assemblies/UnityEngine.XRModule.dll.mdb
